.about__container{
    width: 100%;
    min-height: 80vh;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    
    & p{
        width: 85%;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 5px;
    }

    & .technicals__container{
        width: 85%;

        & .technicals__title{
            text-transform: capitalize;
        }

        & .technicals__list{
            width: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;

            & li{
                width: 32px;
                height: 32px;

                & img{
                    width: 100%;
                }
            }
        }
    }
}