.header__container{
    background-color: palevioletred;
    color: white;
    width: 100%;
    
    & .header__list{
        width: 100%;
        display: flex;
        justify-content: space-around;

        & .header__list--link{
            text-decoration: none;

            & .header__list--home{
                color: white;
            }
        
            & .header__list--work{
                color: white;
            }
        }
    }
}

.hidden{
    display: none;
}