.header__container{
    background-color: white;
    color: #ff1fad;
    text-transform: uppercase;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    
    & .header__list{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & .header__list--link{
            text-decoration: none;

            & .header__list--home{
                color: #ff1fad;
                font-weight: bold;
                background: linear-gradient(#ff1fad, white);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }

            & .header__list--home:hover{
                background-size: 100% 2px;
            }


        
            & .header__list--work{
                color: #ff1fad;
                font-weight: bold;
                background-image: linear-gradient(#ff1fad, white);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }

            & .header__list--work:hover{
                background-size: 100% 2px;
            }

            & .header__list--about{
                color: #ff1fad;
                font-weight: bold;
                background-image: linear-gradient(#ff1fad, white);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }

            & .header__list--about:hover{
                background-size: 100% 2px;
            }

        }
    }
}

.hidden{
    display: none;
}