@import './base/normalize';
@import './utils/variables';
@import './layouts/header';
@import './layouts/footer';
@import './layouts/landing';
@import './components/projectsList';
@import './components/projectCard';
@import './components/about';
@import './components/button';
@import './components/slider';

.App {
  text-align: center;
  background-color: $standardBg;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}







