.footer__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;

    & .footer__copyrigth{
        color: $darkFontColor;
        padding: 4px;
        height: 30px;
    }

    & .rrss__container{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        padding: 2px;
        height: 30px;

        @include forTablet{
            width: 50%;
        }

        & a{
            display: block;
            width: auto;

            &:hover{
                transform: rotate(20deg);
                border: solid 2px $darkFontColor;
                border-radius: 5px;
                padding: 1px;
            }

            & img{
                width: 20px;
                height: 20px;
            }
        }
    }
}