.landing__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Nunito", sans-serif;
  height: 80vh;
  width: 100%;
  padding: 10px 5px 10px 5px;
  color: $darkFontColor;

  & p {
    font-size: 22px;
    

    & .landing__name {
      display: block;
      font-weight: bold;
      font-size: 26px;
      text-transform: capitalize;
      margin-top: 15px;
    }
  }

  & .landing__job {
    display: block;
    font-size: 22px;
  }
}
